*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Start of all styling done on the index.html*/
#introVisual {
    position: fixed;
    right: 175px;
    bottom: 300px;
    z-index: -2;
    width: 100%;
    height: 500px;
}

.welcomeText{
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcomeText h1{
    font-size: 150px;
    color: red;
    opacity: 0.5;
}

.welcomeText h2{
    font-size: 25px;
    color: blueviolet;
    
}

/*end of index.html styling */


/*Header Styling*/

.theHeader{
    display: flex;
    justify-content: center;
    background-color: grey;
}





/* Start Styling for Navigation*/
/*start of styling for index navigation; different from main nav*/
#navIcon{
    /* height: 10vh; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
}

#navLinks{
    text-decoration: none;
    font-size: 35px;
}

#introLink{
    display: flex;
    border: 2px solid grey;
    border-radius: 35px;
    background-color: rgba(29, 28, 28, 0.844)
}

.homeButton{
    color: azure;
}

/*end of intro nav styling, continue nav styling*/


.wrapper{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
}

/* .wrapper #navigationBox{
    border: 2px solid black;
} */

.container{
    border: 2px solid black;
    margin: 0;   
}

.container img{
    border-radius: 30px;
}

.hide{
    display: none;
}


.menu{
    /* border: 2px solid red; */
    background-color: black;
    width: 50%;
    opacity: 0.5;
    border-radius: 0 0 30px 30px;
    padding: 50px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.menu li{
    border-bottom: 2px solid purple;
    padding: 10px;
}

/* .showmenu{
    transform: translateX(0);
} */

.menu li:last-child{
    border-bottom: none;
}

.menu li:first-child a{
    color: green;
    
}

.menu li a{
    /* border: 2px solid orange; */
    text-decoration: none;
    color: #cfd9df;

}

.menu li a:hover{
    font-weight: bold;
}






/*end of styling for index navigation*/




/* End of Styling for Navigation*/

/*Start of styling for home.html*/


.home{
    /* height: 90vh; */
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.contentTop{
    display: flex;
    justify-content: center;
    background-image: url("https://d3cfv1r84exbq1.cloudfront.net/magefan_blog/Banner_1__2.jpg");
    background-size: cover;
    border: 2px solid gray;
    padding: 15px 0 15px 0;
}

.contentTop .homePresentation {
    color: antiquewhite;
}

.contentTop .homePresentation h4{
    display: flex;
    justify-content: center;
}
.contentTop .homePresentation .btn{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(52, 52, 117);
    background-color: rgb(52, 52, 117);
    border-radius: 30px;   
}
.contentTop .homePresentation .btn:hover{
    background-color: rgb(33, 33, 77) ;
}

footer{
    display: flex;
    justify-content: center;
}


/*End of styling for home.html*/
@media screen and (min-width:1000px){
    .menu{
        width: 500px;
    }
}
@media screen and (max-width:600px) {
    .menu li a{
        font-size: 15px;
    }
}


/* This is for carousel  */
/* This is for carousel  */
/* This is for carousel  */
/* This is for carousel  */
/* This is for carousel  */
/* This is for carousel  */

/* This is for carousel  */



